[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
waitress = "*"
cloudpickle = "*"
num2words = "*"
spacy = "*"
tensorflow = "==2.14.0"
grpcio = "==1.68.0"
tensorflow-serving-api = "==2.14"
en-core-web-lg = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl"}
numpy = "==1.24"

[dev-packages]

[requires]
python_version = "3.10"
